@font-face {
    font-family: "PF Din Text Cond Pro";
    src: url(./fonts/pfdintextcondpro-regular.ttf);
}
@font-face {
    font-family: "PT Sans";
    src: url(./fonts/ptsans/PT_Sans-Web-Regular.ttf);
}
@import url(./bootstrap-3.3.7-dist/css/bootstrap.css);
/*Общие классы*/
.body-width {
    width: 1859px;
}
.back-image-img IMG {
    position: relative;
}
.back-image-div DIV {
    position: relative;
}
.first-back-image {
    z-index: 1;
}
.float-right {
    float: right;
}
.float-left {
    float: left;
}
hr {
    border: none;
    background-color: #d8d8d8;
    color: #d8d8d8;
    height: 2px;
}
.hr {
    border: none;
    background-color: #7fbce1;
    color: #7fbce1;
    height: 2px;
}
.my-center-block {
    width: 75%;
}
.my-container {
    margin-right: auto;
    margin-left: auto;
    width: 1036px;
}
/*Классы для блока 1*/
.jumbotron-1-block-1 {
    background-image: url("./images/block-images/layer-4.png");
    background-position: center center;
    height: 100px;
}

/*Классы для блока 2*/
.jumbotron-1-block-2 {
    background-image: url("./images/block-images/3-layers.png");
    background-position: center center;
    height: 585px;
}
.container-1-block-2 {
    top: 170px;
    position: absolute;
    width: 1036px;
}
.height-block-2 {
    height: 585px;
}
.signature-image-block-2 {
    z-index: 2;
    top: -494px;
    left: 851px;
}
.opacity-block-2 {
    z-index: 2;
    top: -238px;
    opacity: 0.2;
    background: #24385b;
    height: 82px;
}
.button-block-2 {
    z-index: 3;
    top: -290px;
    left: 437px;
}
.text-style-1-block-2 {
    width: 216px;
    height: 42px;
    color: #384c5b;
    font-family: "PF Din Text Cond Pro";
    font-size: 60px;
    font-weight: 400; 
}
.text-1-block-2 {
    z-index: 2;
    top: -641px;
    left: 442px;
    width: 216px;
    height: 60px;
}
.text-2-block-2 {
    z-index: 2;
    top: -556px;
    left: 242px;
}
.text-style-2-block-2 {
    color: #127cc2 ;
    font-family: "PF Din Text Cond Pro";
    font-size: 60px;
    font-weight: 300;
    text-transform: uppercase;
}
.text-style-3-block-2 {
    margin-top: 13px;
    color: #000000 ;
    font-family: Arial;
    font-size: 12px;
    line-height: 25px;
    font-weight: 400;
}
.otstup-1-block-2 {
    margin-top: 46px;
}
.otstup-2-block-2 {
    margin-top: 28px;
}
.otstup-3-block-2 {
    margin-top: 52px;
}
.otstup-4-block-2 {
    margin-top: 65px;
}
.text-style-4-block-2 {
    width: 458px;
    height: 63px;
    color: #000000;
    font-family: Arial;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    text-transform: uppercase;
}
.text-style-5-block-2 {
    width: 388px;
    height: 60px;
    color: #000000;
    font-family: Arial;
    font-size: 11px;
    font-weight: 400;
    line-height: 22px;
    text-transform: uppercase;
}
.btn-lg-1-block-2,
.btn-group-lg > .btn {
  margin-right: 30px;
  margin-left: 4px;
  padding-top: 12px;
  font-size: 18px;
  width: 180px;
  height: 56px;
  background-color: #127cc2; 
}
.btn-lg-2-block-2,
.btn-group-lg > .btn {
  margin-right: 30px;
  padding-top: 12px;
  font-size: 18px;
  width: 180px;
  height: 56px;
  background-color: #ffffff;
}
.btn-lg-3-block-2,
.btn-group-lg > .btn {
  padding-top: 12px;
  font-size: 18px;
  width: 180px;
  height: 56px;
  background-color: #ffffff;
}
.text-btn-1-block-2 {
    color: #ffffff;
    font-family: "PT Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 29px;
    text-transform: uppercase;
}
.text-btn-2-block-2 {
    color: #000000;
    font-family: "PT Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 29px;
    text-transform: uppercase;
}


/*Классы для блока 3*/
.title-text-style-1-block-3 {
    width: 100px;
    height: 24px;
    color: #000000;
    font-family: "PF Din Text Cond Pro";
    font-size: 26px;
    font-weight: 500;
    line-height: 22px;
    text-transform: uppercase;
}
.title-text-1-block-3 {
    margin-top: 32px;
    margin-bottom: 32px;
}
.text-1-block-3 {
    color: #000000;
    font-family: Arial;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}
.otstup-1-block-3 {
    padding-top: 50px; 
}
.otstup-2-block-3 {
    margin-top: 42px;
    margin-left: 68px; 
}
.otstup-3-block-3 {
   width: 75%;
}
.otstup-4-block-3 {
    margin-left: 53px;
}
.otstup-5-block-3 {
    margin-top: 35px;
}
.otstup-6-block-3 {
    margin-top: 30px;
}
.otstup-7-block-3 {
    margin-left: 9px;
    margin-right: 9px;
}
.otstup-8-block-3 {
    margin-top: 10px;
}
.otstup-9-block-3 {
    margin-top: 35px;
    margin-left: 10px;
}
.otstup-10-block-3 {
   padding-left: 48px;
}
.btn-lg-1-block-3,
.btn-group-lg > .btn {
  padding-top: 28px;
  width: 341px;
  height: 85px;
  box-shadow: 0 3px 0 rgba(72, 166, 228, 0.75);
  background-color: #127cc2;
}
.btn-lg-2-block-3,
.btn-group-lg > .btn {
  padding-top: 28px;
  width: 341px;
  height: 85px;
  box-shadow: 0 3px 0 rgba(244, 162, 145, 0.75);
  background-color: #e75f44;
}
.text-btn-1-block-3 {
    color: #ffffff;
    font-family: "PF Din Text Cond Pro";
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    text-transform: uppercase;
}
.btn-lg-3-block-3,
.btn-group-lg > .btn {
    padding-top: 3px;
    width: 124px;
    height: 34px;
    background-color: #127cc2;
}
.text-btn-2-block-3 {
    width: 102px;
    height: 12px;
    color: #ffffff;
    font-family: "PT Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 29px;
    text-transform: uppercase;
}
.border-1-block-3 {
    margin-top: 28px;
    width: 341px;
    height: 221px;
    border: 3px solid #53aeea;
    background-color: rgba(230, 234, 245, 0);
    padding: 28px 
}
.text-2-block-3 {
    width: 265px;
    height: 55px;
    color: #3d3c3c;
    font-family: "PF Din Text Cond Pro";
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    text-transform: uppercase;
    margin-left: 10px;
}
.social-image-1-block-3 {
    z-index: 2;
    top: -25px;
    right: -11px;
}
.jumbotron-1-block-3 {
    padding-top: 21px;
    width: 666px;
    height: 429px;
    background-image: url("./images/block-images/kvartal-image.png")
}
.text-3-block-3 {
    width: 568px;
    height: 64px;
    color: #191919;
    font-family: "PF Din Text Cond Pro";
    font-size: 23px;
    font-weight: 400;
    line-height: 40px;
    text-transform: uppercase;
}
.form-width-block-3 {
    width: 560px;
}
.text-4-block-3 {
    width: 204px;
    height: 10px;
    color: #191919;
    font-family: Arial;
    font-size: 12px;
    font-weight: 400;
    line-height: 40px;
}
.text-5-block-3 {
    width: 204px;
    height: 10px;
    color: #191919;
    font-family: Arial;
    font-size: 12px;
    font-weight: 400;
    line-height: 40px;
}

/*Классы для блока 4*/
.otstup-1-block-4 {
    margin-top: 67px; 
}
.jumbotron-1-block-4 {
    background-image: url("./images/block-images/header-image-2.png");
    background-position: center center;
    height: 399px;
}
.header-text-style-1-block-4 {
    width: 283px;
    height: 42px;
    color: #384c5b;
    font-family: "PF Din Text Cond Pro";
    font-size: 60px;
    font-weight: 400;
    line-height: 135px;
    text-transform: uppercase;
}
.container-1-block-4 {
    top: 1540px;
    position: absolute;
    width: 1036px;
}
.signature-image-block-4 {
    z-index: 2;
    top: -301px;
    left: 426px;
}
.height-header-block-4 {
    height: 399px;
}

/*Классы для блока 5*/
.container-1-block-5 {
    width: 1036px;
    margin-top: 35px;
    padding-right: 40px;
    padding-left: 60px;
}

/*Классы для блока */
.otstup-1-block-6 {
    margin-top: 85px;
}
.otstup-2-block-6 {
    margin-top: 75px;
}
.otstup-3-block-6 {
    margin-top: 30px;
}
.jumbotron-1-block-6 {
    background-image: url("./images/block-images/layer-89.png");
    background-position: center center;
    height: 399px;
}
.container-1-block-6 {
    top: 2690px;
    position: absolute;
    width: 1036px;
}
.text-style-1-block-6 {
    width: 276px;
    height: 42px;
    color: #384c5b;
    font-family: "PF Din Text Cond Pro";
    font-size: 60px;
    font-weight: 400;
    line-height: 135px;
    text-transform: uppercase;
}
.text-style-2-block-6 {
    color: #000000;
    font-family: Arial;
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
}

/*Классы для блока 7*/
.container-1-block-7 {
    width: 1036px;
}
.container-2-block-7 {
    width: 910px;
    margin-right: auto;
    margin-left: auto;
}
.otstup-0-block-7 {
    margin-top: 57px;
}
.otstup-1-block-7 {
    margin-top: 51;
}
.otstup-2-block-7 {
    margin-top: 43px;
    padding-right: 49px;
    padding-left: 49px;
}
.otstup-3-block-7 {
    margin-top: 55px;
}
.otstup-3A-block-7 {
    margin-top: 47px;
}
.title-text-style-1-block-7 {
    width: 769px;
    height: 26px;
    color: #000000;
    font-family: "PF Din Text Cond Pro";
    font-size: 26px;
    font-weight: 500;
    line-height: 22px;
    text-transform: uppercase;
}
.text-style-2-block-7 {
    width: 928px;
    height: 36px;
    color: #000000;
    font-family: Arial;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
}
.text-style-3-block-7 {
    width: 928px;
    height: 36px;
    color: #000000;
    font-family: Arial;
    font-size: 14px;
    line-height: 22px;
    font-weight: 700;
}
.text-style-4-block-7 {
    width: 186px;
    height: 17px;
    color: #000000;
    font-family: "PF Din Text Cond Pro";
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    text-transform: uppercase;
}
.text-style-5-block-7 {
    width: 170px;
    height: 110px;
    color: #000000;
    font-family: "PT Sans";
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    border-right: 2px solid #c7d5db;
    margin-left: 20px; 
    padding-left: 10px;
}
.text-style-6-block-7 {
    width: 223px;
    height: 110px;
    color: #000000;
    font-family: "PT Sans";
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    border-right: 2px solid #c7d5db;
    margin-left: 20px; 
    padding-left: 10px; 
}
.text-style-7-block-7 {
    width: 216px;
    height: 110px;
    color: #000000;
    font-family: "PT Sans";
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    border-right: 2px solid #c7d5db;
    margin-left: 20px; 
    padding-left: 10px; 
}
.text-style-8-block-7 {
    width: 228px;
    height: 110px;
    color: #000000;
    font-family: "PT Sans";
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}
.text-style-9-block-7 {
    width: 261px;
    height: 17px;
    color: #000000;
    font-family: "PF Din Text Cond Pro";
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    text-transform: uppercase;
}
.otstup-4-block-7 {
    margin-top: 80px;
}
.otstup-5-block-7 {
    margin-top: 60px;
    padding-right: 2px;
    padding-left: 2px;
}
.text-style-10-block-7 {
    color: #000000;
    font-family: "PT Sans";
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}
.otstup-6-block-7 {
    margin-top: 10px;
}
.otstup-7-block-7 {
    margin-top: 60px;
}
.border-1-block-7 {
    width: 1033px;
    height: 148px;
    border: 2px solid #007ac4;
    background-color: rgba(0, 122, 196, 0);
    padding: 32px;
}
.text-style-11-block-7 {
    color: #000000;
    font-family: Arial;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}
.otstup-8-block-7 {
    margin-top: 57px;
}
.text-style-12-block-7 {
    width: 219px;
    height: 14px;
    color: #000000;
    font-family: "PF Din Text Cond Pro";
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    text-transform: uppercase;
}
.otstup-9-block-7 {
    margin-top: 34px;
}
.text-style-13-block-7 {
    width: 910px;
    color: #000000;
    font-family: Arial;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
}
.text-style-14-block-7 {
    width: 910px;
    color: #000000;
    font-family: Arial;
    font-size: 14px;
    line-height: 22px;
    font-weight: 700;
    text-transform: uppercase;
}
.otstup-10-block-7 {
    margin-top: 65px;
}
.text-style-15-block-7 {
    width: 178px;
    height: 62px;
    color: #007ac4;
    font-family: "PT Sans";
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    border-right: 2px solid #c7d5db;
    padding-left: 272px;

}
.text-style-16-block-7 {
    width: 194px;
    height: 63px;
    color: #007ac4;
    font-family: "PT Sans";
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}
.otstup-10-block-7 {
    margin-top: 65px;
}
.otstup-11-block-7 {
    padding-left: 44px;
}
.otstup-12-block-7 {
    padding-left: 58px;
}
.otstup-13-block-7 {
    padding-top: 20px;
}
.otstup-14-block-7 {
    margin-top: 58px;
}
.text-style-17-block-7 {
    width: 665px;
    height: 20px;
    color: #000000;
    font-family: "PF Din Text Cond Pro";
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    text-transform: uppercase;
}
.otstup-14-block-7 {
    margin-top: 43px;
}
.otstup-15-block-7 {
    margin-top: 30px;
}
.text-style-18-block-7 {
    width: 909px;
    height: 168px;
    color: #000000;
    font-family: Arial;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}
.otstup-16-block-7 {
    margin-top: 64px;
}
.text-style-19-block-7 {
    width: 189px;
    height: 14px;
    color: #000000;
    font-family: "PF Din Text Cond Pro";
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    text-transform: uppercase;
}
.otstup-17-block-7 {
    margin-top: 34px;
}
.text-style-20-block-7 {
    width: 898px;
    height: 58px;
    color: #000000;
    font-family: Arial;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}
.border-2-block-7 {
    width: 1033px;
    height: 240px;
    border: 2px solid #007ac4;
    background-color: rgba(0, 122, 196, 0);
    padding-top: 32px;
    padding-bottom: 40px;
    padding-left: 49px;
    padding-right: 57px;
}
.text-style-21-block-7 {
    width: 927px;
    height: 168px;
    color: #000000;
    font-family: Arial;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}
.otstup-18-block-7 {
    margin-top: 40px;
}
.text-style-22-block-7 {
    width: 1036px;
    height: 13px;
    color: #000000;
    font-family: Arial;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
}
.otstup-19-block-7 {
    margin-top: 32px;
}
.text-style-23-block-7 {
    width: 225px;
    height: 63px;
    color: #000000;
    font-family: "PT Sans";
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}
.otstup-20-block-7 {
    margin-top: 66px;
}
.text-style-24-block-7 {
    width: 1036px;
    height: 14px;
    color: #007ac4;
    font-family: Arial;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}
.otstup-21-block-7 {
    margin-top: 63px;
}
.text-style-25-block-7 {
    width: 469px;
    height: 42px;
    color: #ffffff;
    font-family: "PF Din Text Cond Pro";
    font-size: 60px;
    font-weight: 400;
    line-height: 135px;
    text-transform: uppercase;
}
/*Классы для блока 8*/
.jumbotron-1-block-8 {
    background-image: url("./images/block-images/header-image-5.png");
    background-position: center center;
    height: 399px;
}
.container-1-block-8 {
    top: 6125px;
    position: absolute;
    width: 1036px;
}
.otstup-1-block-8 {
    margin-top: 63px;
}
.text-style-1-block-8 {
    width: 469px;
    height: 42px;
    color: #ffffff;
    font-family: "PF Din Text Cond Pro";
    font-size: 60px;
    font-weight: 400;
    line-height: 135px;
    text-transform: uppercase;
}
.otstup-2-block-8 {
    margin-top: 257px;
    margin-left: 139px;
}
.btn-lg-1-block-8,
.btn-group-lg > .btn {
  margin-right: 12px;
  padding-top: 12px;
  font-size: 18px;
  width: 233px;
  height: 56px;
  background-color: #ffffff;
}
.btn-lg-2-block-8,
.btn-group-lg > .btn {
  margin-right: 12px;
  padding-top: 12px;
  font-size: 18px;
  width: 233px;
  height: 56px;
  background-color: #007ac4;
}
.text-style-2-block-8 {
    color: #000000;
    font-family: "PT Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 29px;
    text-transform: uppercase;
}
.text-style-3-block-8 {
    color: #ffffff;
    font-family: "PT Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 29px;
    text-transform: uppercase;
}

/*Классы для блока 9*/
.jumbotron-1-block-9 {
    background-image: url("./images/block-images/image-block-9.png");
    background-position: center center;
    height: 933px;
}
.container-1-block-9 {
    margin-right: auto;
    margin-left: auto;
    width: 794px;
}
.otstup-1-block-9 {
    margin-top: 48px;
}
.otstup-2-block-9 {
    margin-top: 12px;
    margin-right: 12px;
}
.otstup-3-block-9 {
    margin-top: 12px;
    height: 362px;
}
.otstup-4-block-9 {
    margin-right: 12px;
}
.position-image-block-9 {
    z-index: 2;
    top: -331px;
    left: 40px;
}
.position-block-9 {
    z-index: 3;
    top: -300px;
    left: 40px;
}
.text-style-1-block-9 {
    color: #000000;
    font-family: "PF Din Text Cond Pro";
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
}
.text-style-2-block-9 {
    color: #777777;
    font-family: Arial;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}

/*Классы для блока 10*/
.jumbotron-1-block-10 {
    background-image: url("./images/block-images/layer-84.png");
    background-position: center center;
    height: 399px;
}
.container-1-block-10 {
    top: 7500px;
    position: absolute;
    width: 1036px;
}
.text-style-1-block-10 {
    width: 154px;
    height: 42px;
    color: #ffffff;
    font-family: "PF Din Text Cond Pro";
    font-size: 60px;
    font-weight: 400;
    line-height: 135px;
    text-transform: uppercase;
}
.text-style-2-block-10 {
    color: #ffffff;
    font-family: Arial;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}
.otstup-1-block-10 {
    margin-top: 80px;
}

/*Классы для блока 11*/
.jumbotron-1-block-11 {
    background-image: url("./images/block-images/rectangle-76.png");
    background-position: center center;
    height: 481px;
    z-index: 1;
}
.height-1-block-11 {
    height: 1093px;
}
.img-position-1-block-11 {
    z-index: 2;
}
.img-position-2-block-11 {
    z-index: 2;
    top: -481px;
}

/*Классы для блока 12*/
.jumbotron-1-block-12 {
    background-image: url("./images/block-images/layer-102.png");
    background-position: center center;
    height: 506px;
}
.otstup-1-block-12 {
    margin-top: 60px;
}


